.recommendedVideos{
    flex:0.8;
    background-color: #f9f9f9;
    padding: 10px 10px;
    padding-bottom: 20px;
}
.recommendedVideos >h2 {
 margin-left: 5px;
 margin-bottom: 20px;
}
.recommendedVideos__videos {
    display: flex;
    flex-wrap: wrap;
}